@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* BODY */

.body {
    background: #F5F5F5;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #1D1D1F;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
}

.container-fluid,
.container {
    padding-left: 0;
    padding-right: 0;
}

/* HEADER */

.header {
    position: fixed;
    background: #F5F5F5;
    width: 100vw;
    z-index: 10;
}

/* HEADER - Enlaces menú principal */

nav {
    margin-top: 50px;
    color: #1F1F1F;
    background: #F5F5F5;
    z-index: 10;
}

a {
    text-decoration: none;
    color: #1F1F1F;
}

nav ul a:hover {
    padding-bottom: calc(var(--bs-nav-link-padding-x)-2px);
    border-bottom: #1F1F1F solid 2px;
    transition: all 0.1s ease;
}

nav li {
    list-style-type: none;
    font-style: normal;
    font-size: 16px;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    width: 57%;
}

.contactoHeader {
    text-transform: uppercase;
    display: flex;
    padding: 8px 32px 8px 18px;
    background-color: #1F1F1F;
    color: #FFFFFF;
    border-radius: 10px;
    flex-direction: row;
    transition: all 0.3s ease;
}

.phoneHeader-white {
    height: 18px;
    margin: auto 8px;
}

.contactoHeader:hover {
    background-color: #5A5A5A;
}

.navbar-toggler {
    border: 0;
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100px;
    margin-bottom: 52px;
    padding-bottom: 52px;
    overflow-x: hidden;
}

.fondoGris {
    margin: 0 10%;
    padding-top: 16px;
}

.fondoBlanco {
    background-color: #FFFFFF;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.1);
    padding-top: 16px;
    padding-bottom: 32px;
}

/* Títulos y subtítulos */

h1,
h2,
h3,
h4.footer,
h5 {
    font-weight: 600;
}

h1.index {
    font-size: 48px;
    color: #8F8D92;
    margin: 30px auto 0px;
}

h2 {
    font-size: 40px;
    margin-top: 24px;
    margin-bottom: 12px;
}

h3,
h2.notas {
    font-size: 24px;
    margin: 8px auto 8px 24px;
}

h4:not(.footer),
h3.notas {
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: #8F8D92;
    margin: 24px auto 0px 24px;
}

h5,
h4.footer,
h3.footer {
    font-size: 20px;
    text-align: left;
    margin: 16px 0px 8px 0px;
}

h1.secundario {
    font-weight: 600;
    font-size: 40px;
    width: 80%;
    margin: 30px auto 8px;
}

h2.pagTerciaria {
    margin: 8px auto;
}

h3.pagTerciaria {
    margin: 24px auto 0px;
}

/* Botones */

.btn {
    color: #FFFFFF;
    background-color: #8EBB73;
    border-radius: 10px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    display: block;
    transition: all 0.3s ease;

}

.btnBig {
    font-size: 24px;
    line-height: 48px;
    width: 240px;
}

.btnLittle {
    position: absolute;
    right: 24px;
    bottom: 16px;
    font-size: 16px;
    line-height: 26px;
    width: 150px;
}

.btn:hover {
    background-color: #417139;
    color: #FFFFFF;
}

/* SECCIÓN 1 - Intro */

.intro {
    align-items: center;
}

.darkText {
    color: #1D1D1F;
}

.introContacto {
    font-weight: 600;
    font-size: 36px;
    color: #8F8D92;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 50px;
}

.introContacto p {
    margin: 0%;
    padding-bottom: 52px;
}

.imgIntro {
    margin-top: -20px;
}

/* SECCIÓN 2 - Equipo */

/* Tarjetas Notas y Profesionales */
.contenedorCard {
    display: flex;
    width: 100%;
    margin: 16px auto 48px;
    overflow-x: scroll;
    overflow-y: hidden;
    box-sizing: border-box;
    scrollbar-width: none;
    align-items: flex-start;
    padding-right: 20px;
}

/*Webkit*/
.contenedorCard::-webkit-scrollbar {
    width: 0;
}

.card {
    overflow: hidden;
    min-width: 296px;
    max-width: 296px;
    height: 427px;
    background: #FFFFFF;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-left: 24px;
    position: relative;
}

.card p {
    margin: 0px 24px auto 24px;
}


.cardFoto img {
    position: absolute;
    bottom: 0px;
    width: 296px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* SECCIÓN 3 - Ubicación */

.contenedorBlanco {
    margin: 0 10%;
}

.contenedorMapa {
    display: grid;
    grid-template-areas:
        "mapa direccion"
        "mapa btnMapa";
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 45%;
    grid-column-gap: 5%;
}

.responsive-iframe {
    width: 100%;
    height: 440px;
}

.mapa {
    grid-area: mapa;
}

.direccion {
    grid-area: direccion;
    margin: 5% 5%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.bold {
    font-weight: 600;
}

.direccion p {
    margin: 4% 0%;
    font-size: 24px;
}

.location-icon {
    height: 24px;
    margin-right: 10px;
}

.btnMapa {
    margin: 57px auto;
    grid-area: btnMapa;

}

.ancla {
    position: relative;
    top: -135px;
}

/* SECCIÓN 4 - Notas */

.titleSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.notas{
    display: grid;
    grid-template-areas:
        "titleNotas enlaceNotas"
        "cardNotas cardNotas";
    grid-template-columns: 85% 15%;
    align-items: baseline;
}

.titleNotas {
    grid-area: titleNotas;
}

.enlaceNotas {
    grid-area: enlaceNotas;
}

.cardNotas {
    grid-area: cardNotas;
}

.enlaceNotas a {
    font-size: 16px;
    line-height: 20px;
    color: #219ED3;
    text-align: right;
}

/* FOOTER */

footer {
    margin-top: 52px;
    margin-bottom: 0px;
    padding: 24px 0px;
    background-color: #D9D9D9;
    text-align: center;
}

.contenedorFooter {
    display: grid;
    grid-template-areas:
        "footerLinks footerAddress";
    grid-template-columns: 50% 50%;
    grid-column-gap: 10%;
    text-align: left;
    margin-top: 0px;
    margin-left: 10%;
}

.contenedorFooter a {
    margin-top: 8px;
}

.contenedorFooter p {
    margin: 0px;
    font-size: 16px;
}

.footerLinks {
    display: flex;
    flex-direction: column;
    grid-area: footerLinks;
}

.contenedorFooter img {
    margin-right: 16px;
    height: 18px;
}

.contenedorFooter .bold {
    margin-top: 8px;
}

.sign {
    display: flex;
    font-size: 14px;
    color: #656B6C;
    justify-content: center;
    margin-top: 2%;
}

.sign img {
    margin: 0 8px auto;
}

.linkMapa {
    color: #219ED3;
}

.address {
    display: flex;
    align-items: baseline;
}

.footerAddress {
    display: flex;
    flex-direction: column;
    grid-area: footerAddress;
}

/* Páginas secundaria - NOSOTROS, EQUIPO y NOTAS*/

.cardHorizontal {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    display: flex;
    margin-bottom: 24px;
    align-items: flex-end;
}

.imgExtra {
    max-width: 100%;
    height: auto;
    margin: auto 0px;
}

.contenido {
    width: 80%;
}

.justificado {
    text-align: justify;
}

.bloque {
    padding-bottom: 32px;
}

.textoGris {
    color: #8F8D92;
}

.textoDestacado {
    font-size: 24px;
}

.btnContactar {
    margin: 0px auto;
}

.boxBlanco {
    margin-bottom: 52px;
}

.whatsappIcon {
    height: 22px;
    margin: 0px 18px;
}

.botonera {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.btnCard {
    font-size: 14px;
    line-height: 20px;
    padding: 7px 20px;
    margin: 16px 0px 32px 24px;
}

.btnWA {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 16px 0px 32px 24px;
}

.cardHorizontal p {
    margin: 0px 24px 16px 24px;
    text-align: justify;
}

.cardInfo {
    width: 67%;
}

.cardFotoProf {
    position: absolute;
    bottom: -4px;
    right: 0px;
}

.cardInfo ul {
    margin-left: 24px;
}

.cardInfo {
    margin-bottom: 32px;
}

.turnoTres,
.turnoCuatro,
.infoProfTres,
.infoProfCuatro,
.fotoTres,
.fotoCuatro {
    display: none;
}

.cardFotoNota {
    width: 33%;
}

.cardFotoNota img {
    width: 100%;
    border-end-end-radius: 10px;
}

/* Página secundaria - CONTACTO */

.formContacto {
    width: 68%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.boxInput {
    display: flex;
    flex-direction: column;
}

.datos {
    display: grid;
    grid-template-areas:
        "especialista nombre"
        "email telefono";
    grid-template-columns: 42% 42%;
    grid-column-gap: 16%;
    padding-right: 0;
}

input,
textarea,
select {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    border: 0px;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

input,
textarea {
    padding: 8px 16px;
}

select {
    padding: 7px 14px;
    width: 100%;
}

label {
    margin-bottom: 8px;
    margin-top: 40px;
    font-weight: 600;
}

textarea {
    resize: none;
}

.btnSend {
    margin: 32px auto;
    font-size: 24px;
    width: 240px;
}

/* Página terciaria - NOTA INDIVIDUAL */

.fotoNotaUnoDer {
    max-width: 45%;
    height: 100%;
    margin-left: 5%
}

.fotoNotaUnoIzq {
    max-width: 40%;
    height: 100%;
    margin-right: 5%;
    margin-bottom: 50px;
}

.fondoBlanco p {
    line-height: 24px;
}

.btnListado {
    width: 330px;
    margin: 0px auto;
}

@media (max-width:991px) {
    .navbar-collapse {
        background-color: #E9E9E9;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .ms-4 {
        margin-left: 0px !important;
    }

    .navbar-nav {
        padding-left: 10%;
    }

    .navbar {
        padding-bottom: 0;
        margin-bottom: 0px;
    }

    .navbar-toggler {
        margin-right: 3%;
    }

    .contactoHeader {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .logo {
        height: 45px;
        margin-left: 10%;
    }

    .contenedorMapa {
        display: grid;
        grid-template-areas:
            "direccion"
            "mapa"
            "btnMapa";
        grid-template-rows: auto;
        grid-template-columns: 100%;
    }

    .direccion p {
        margin: 2% 0%;
    }

    .ancla {
        position: relative;
        top: -55px;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    h1.index {
        font-size: 44px;
    }

    .introContacto {
        font-size: 30px;
        line-height: 32px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    h1.index {
        font-size: 40px;
    }

}

@media (min-width:576px) and (max-width:767px) {
    h1.index {
        font-size: 36px;
    }

    h2 {
        font-size: 32px;
    }

    .introContacto {
        font-size: 28px;
        line-height: 40px;
    }

    .direccion p {
        font-size: 20px;
    }
}

@media (max-width:767px) {
    .contenedorFooter {
        display: grid;
        grid-template-areas:
            "footerLinks"
            "footerAddress";
        grid-template-rows: auto;
        grid-template-columns: 100%;
        margin-left: 4%;
    }

    .footerAddress,
    .footerLinks,
    .sign {
        margin-top: 18px;
    }

    nav {
        margin-top: 15px;
        margin-bottom: 10px;
    }

    main {
        top: 80px;
        padding-bottom: 32px;
    }
}

@media (max-width:575px) {
    .introContacto {
        font-size: 24px;
        line-height: 30px;
    }

    h1.index,
    h2,
    h1.secundario {
        font-size: 30px;
    }

    .contenedorCard {
        margin-left: -12%;
        margin-right: 50px;
        width: 100vw;
    }

    .card {
        margin-left: 12px;
    }

    .titleSection h2 {
        width: 100vw;
        margin-top: 24px;
        text-align: center;
    }

    .direccion p {
        font-size: 18px;
        margin: 0%;
    }

    .notas{
        display: grid;
        grid-template-areas:
            "titleNotas titleNotas"
            "cardNotas cardNotas"
            "none enlaceNotas";
        grid-template-columns: 75% 25%;
        grid-template-rows: auto;
    }

    .notas .contenedorCard {
        margin-bottom: 0%;
    }

    .enlaceNotas {
        margin-bottom: 52px;
        margin-top: 10px;
    }

    main {
        top: 60px;
        padding-bottom: 12px;
    }

}